langchain
llama-index
llama-index-readers-web
llama-index-vector-stores-chroma
llama-index-llms-huggingface
llama-index-embeddings-huggingface
llama-index-llms-openai
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-callbacks-arize-phoenix
llama-index-tools-tavily-research
llama_index.llms.huggingface_api
llama_index.retrievers.bm25
bs4
markdownify 
transformers 
chromadb
gradio
arize-phoenix
mlflow
gptcache
openai
