llama-index
llama-index-readers-web
llama-index-vector-stores-chroma
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-tools-tavily-research
llama_index.retrievers.bm25
llama-index-llms-ollama
llama-index-embeddings-ollama
bs4
markdownify 
transformers 
chromadb
gradio
langchain
flask
